<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav class="nav" #sidenav mode="over" position="start">
    <div class="exit">
      <button mat-fab class="custom-fab" (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-list class="custom-list">
      <mat-divider class="custom-divider"></mat-divider>
      <mat-list-item [ngClass]="{'active': isActive('/')}" class="list-item" routerLink="" (click)="sidenav.close()">
        <span class="item-label" > Home </span>
      </mat-list-item>
      <mat-list-item class="list-item" [ngClass]="{'active': isActive('/catalog')}" routerLink="catalog" (click)="sidenav.close()">
        <span class="item-label" > Galeria </span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-cont">
    <mat-toolbar color="primary" class="mat-elevation-z4 sticky-header">
      <button mat-icon-button class="menu-button" (click)="sidenav.open()">
        <mat-icon style="color: #ffc219;">menu</mat-icon>
      </button>
      <img src="favicon-96x96.png" alt="" class="abs-logo">
      <button mat-icon-button class="cart-btn">
        <mat-icon style="color: #ffc219;">shopping_cart</mat-icon>
      </button>
    </mat-toolbar>

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
    <!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <div class="main-content">
      <router-outlet />
    </div>

    
    
    <mat-toolbar color="primary" class="mat-elevation-z4 bottom-bar">

    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>