<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav class="nav" #sidenav mode="over" position="start">
    <div class="exit">
      <button mat-fab class="custom-fab" (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-list class="custom-list">
      <mat-divider class="custom-divider"></mat-divider>
      <mat-list-item [ngClass]="{'active': true}" class="list-item">
        <span class="item-label" routerLink=""> Home </span>
      </mat-list-item>
      <mat-list-item class="list-item">
        <span class="item-label" routerLink="catalog"> Galeria </span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-cont">

    <mat-toolbar color="primary" class="mat-elevation-z4 sticky-header">
      <button mat-icon-button class="menu-button" (click)="sidenav.open()">
        <mat-icon style="color: aliceblue;">menu</mat-icon>
      </button>
      <img src="favicon-96x96.png" alt="" class="abs-logo">
    </mat-toolbar>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
    <!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

    <router-outlet />

    <mat-toolbar color="primary" class="mat-elevation-z4 bottom-bar">

    </mat-toolbar>
  </mat-sidenav-content>

</mat-sidenav-container>